@media (max-width: 1350px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 461px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
  .main h1{
    font-size: 30px;
  }
  .main p{
    font-size: 18px;
  }

}

@media (max-width: 750px) {
  .btn-section {
    flex-wrap: wrap;
    width: 100%;
  }
    .btn-section button{
    padding:20px 80px;
    margin-bottom: 10px;
  }
  .btn-section :last-child{
    margin-bottom: 0;
  }


}
@media (max-width: 535px) {
  .btn-section button{
    width: 100%;

    margin-bottom: 10px;
  }
  .btn-section :last-child{
    margin-bottom: 0;
  }
}


@media (max-width: 390px) {
  .btn-section button{
    margin-bottom: 10px;
  }
  .btn-section :last-child{
    margin-bottom: 0;
  }
}